@using MyFirstMVC.ViewModels

@model IndexViewModelPhone

@{

    ViewData["Title"] = "Home Page";

}

<br />
<a asp-action="Create">Создать</a>
@using (Html.BeginForm("Index", "Phones", FormMethod.Get))

{
    @Html.Label("Name", "Модель ")
    @Html.TextBox("name", Model.Name)

    <select name="companyId" class="form-control">
        <option></option>
        @foreach (Company comp in Model.Companies)
        {
            if (Model.Company != null && Model.Company.Id == comp.Id)
            {
                <option value="@comp.Id" selected="selected">@comp.Name</option>
            }
            else
            {
                <option value="@comp.Id">@comp.Name</option>
            }

        }
    </select>

    <input type="submit" class="btn btn-success" />
}

<br />


<table class="table table-bordered">

    @foreach (Phone p in Model.Phones)

    {

        <tr>

            <td>@p.Name</td>
            <td>@p.Price</td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@p.Id"a>Edit</a>
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@p.Id"a>Details</a>
            </td>
            
        </tr>

    }

</table>

@{ await Html.RenderPartialAsync("_Calendar"); }